<%= form_with(model: [@account, @withdrawal], local: true) do |f| %>
  <% if withdrawal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(withdrawal.errors.count, "error") %> prohibited this withdrawal from being saved:</h2>

      <ul>
        <% withdrawal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <label class="label">Valor do Saque</label>
    <div class="control">
      <%= f.number_field :value, step: :any, min: 1, class: 'input' %>
    </div>
  </div>

  <div class="control">
    <%= f.submit 'Efetuar Saque', class: "button is-primary"  %>
  </div>
<% end %>
