<%= form_with(model: [@account, @deposit], local: true) do |f| %>
  <% if deposit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deposit.errors.count, "error") %> prohibited this deposit from being saved:</h2>

      <ul>
        <% deposit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        
      </ul>
    </div>
  <% end %>
  <div class="field">
    <label class="label">Numero da Conta</label>
    <div class="control">
      <%= f.text_field :account, class: 'input', placeholder: "Digite Numero da Conta" %>
    </div>
  </div>
  <div class="field">
    <label class="label">Valor Depositado</label>
    <div class="control">
      <%= f.number_field :value, step: :any, min: 1, class: 'input' %>
    </div>
  </div>
  <div class="control">
    <%= f.submit 'Depositar', class: "button is-primary"  %>
  </div>
<% end %>
