<%= form_with(model: [@account, @deposit], local: true) do |f| %>
  <% if deposit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deposit.errors.count, "error") %> prohibited this deposit from being saved:</h2>

      <ul>
        <% deposit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        
      </ul>
    </div>
  <% end %>
  <div >
    <%= f.text_field :account %>
  </div>
  <div>
    <%= f.number_field :value, step: :any, min: 1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
