<div class="column is-3 ">
  
  <aside class="menu is-hidden-mobile">
      <p class="menu-label">
      </p>
      <ul class="menu-list">
        <% unless current_user %>
          <li >
            <a href="<%= home_index_path %>" 
               class="<%= current_class?(home_index_path) %> is-link">
            Inicio
            </a>
          </li>
          <li >
            <a href="<%= new_deposit_path %>" 
              class="<%= current_class?(new_deposit_path) %> is-link">
            Depósito
            </a>
          </li>
          <li style="padding-bottom: 10px;">
            <%= link_to('Acessar Conta', new_user_session_path) %>
          </li>
        <% end %>
      </ul>
      <% if current_user %>
        <p class="menu-label">
            Conta <%= current_user.account.account_number %>
        </p>
        <ul class="menu-list">
        <li >
          <a href="<%= new_account_deposit_path(@account) %>" 
            class="<%= current_class?(new_account_deposit_path(@account)) %> is-link">
          Depósito
          </a>
        </li>
          <a href="<%= account_path(current_user.account) %>" 
            class="<%= current_class?(account_path(current_user.account)) %> is-link">
            Saldo
          </a>
        </li>
          <li><a class="is-link">Extrato</a></li>
          <li>
            <li >
              <a href="<%= new_account_withdrawal_path(@account) %>" 
                class="<%= current_class?(new_account_withdrawal_path(@account)) %> is-link">
                Saque
              </a>
            </li>
          </li>
          <li>
            <li >
              <a href="<%= new_account_transfer_path(@account) %>" 
                class="<%= current_class?(new_account_transfer_path(@account)) %> is-link">
                  Tranferências
              </a>
            </li>
          </li>
          <li>
            <a>Encerrar Conta</a>
          </li>
          <li>
            <%= link_to('Sair', destroy_user_session_path, method: :delete) %>
          </li>
        </ul>
      <% end %>
  </aside>
</div>