<!DOCTYPE html>
<html>
  <head>
    <title>Nobank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- START NAV -->
      <%= render partial: "layouts/partials/nav" %>
    <!-- END NAV -->
    <div class="container">
      <div class="columns">
        <%= render partial: "layouts/partials/main_menu" %>
        <div class="column is-9">
            <nav class="breadcrumb" aria-label="breadcrumbs">
            </nav>    
            <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
